snippet cl 
console.log(${1});
endsnippet

snippet clgreen
console.log(\`%c \$\{${1}\}\`, 'background: #000, color: #bada55')
endsnippet

snippet clorange
console.log(\`%c \$\{${1}\}\`, 'background: #000, color: #ffa500')
endsnippet

